#title
{
  background-color: #84a9ac
}


/*font-family: 'Ubuntu', sans-serif;
font-family: 'Montserrat', sans-serif;*/

.heading
{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: #204051;
}

.container-fluid
{
  padding: 1% 3%;
}
